.login_bg{
    -fx-background-color : #133E87;
}
.MAIN_bg{
    -fx-background-color :#F3F3E0;
}
/*BUTTON_CSS*/
.button {
    -fx-background-color: #3498db; /* Màu nền xanh */
    -fx-text-fill: #F3F3E0; /* Màu chữ trắng */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-transition: all 0.3s ease-in-out;
}

/* Khi di chuột vào Button */
.button:hover {
    -fx-background-color: #2980b9; /* Màu xanh đậm hơn */
    -fx-scale-x: 1.05; /* Phóng to nhẹ */
    -fx-scale-y: 1.05;
}

/* Khi nhấn vào Button */
.button:pressed {
    -fx-background-color: #133E87; /* Màu xanh tối hơn */
    -fx-translate-y: 2px; /* Hiệu ứng nhấn xuống */
}

/* Khi Button được focus */


.Btn_login {
    -fx-background-color:#133E87;
    -fx-text-fill:#F3F3E0;
    -fx-font-size:24px;
    -fx-font-weight: 600;
    -fx-background-radius:8px;
}

/* Áp dụng chung cho cả TextField và PasswordField */
.text-field, .password-field {
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-transition: all 0.3s ease-in-out;
}


.text-field:focused, .password-field:focused {
    -fx-border-color: #CBDCEB;
    -fx-border-width: 2.5px;
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.6), 10, 0.5, 0, 0);
}

.lib_status {
    -fx-background-color: #133E87;
    -fx-text-fill: #F3F3E0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-transition: all 0.3s ease-in-out;
}

.tab-pane{
    -fx-tab-max-height: 0px;
}

.tab-pane .tab-header-area{
    visibility: hidden;
}

.transparent {
    -fx-background-color : rgba(0,0,0,0);
}

.search-container {
    -fx-border-color : #133E87 ;
    -fx-border-radius: 8px
}

.tag-gerne {
     -fx-border-color : #133E87 ;
     -fx-border-radius: 8px
}
.image-border {
    -fx-border-color: #133E87;
    -fx-border-width: 10;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.selected {
     -fx-background-color:#F3F3E0 ;
     -fx-border-color: #F3F3E0;
}




.table-view {
    -fx-background-color: #F3F3E0;
    -fx-text-fill: #133E87;
    -fx-font-family: "Courier New", "Consolas", monospace;
    -fx-font-size: 14px;
    -fx-border-color: #133E87;
    -fx-border-width: 2px;

}

.table-view .column-header {
    -fx-background-color:#BCCCDC;
    -fx-text-fill: #F3F3E0;
    -fx-font-weight: bold;
    -fx-border-color: #F3F3E0;
    -fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell {
    -fx-background-color: #F3F3E0;
    -fx-border-color: #133E87;
    -fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: #D4C9BE;
}

.table-view .table-cell {
    -fx-text-fill: #133E87;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 4px;
}

.table-view .filler {
    -fx-background-color: #F3F3E0;
}

.rice_message {
    -fx-border-color : #212121;
    -fx-border-width : 3px;
    -fx-background-color:#F7F7F7;
}

.Hbox_border {
    -fx-border-color: #133E87;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

.Book_Card  {
        -fx-background-color: #F3F3E0;
        -fx-border-color: #133E87;
        -fx-border-radius: 10px;
        -fx-border-width: 3px;
}
